.carousel-container {
  width: 100%;
  height: 520px;
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow);
  margin-top: 30px;
}

.carousel-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateX(15px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.carousel-slide.active {
  opacity: 1;
  transform: translateX(0);
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color: white;
  max-width: 450px;
  text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.carousel-content h1 {
  font-size: 2.6rem;
  font-weight: 800;
  line-height: 1.2;
}

.carousel-content h1 span {
  color: var(--color-third);
}

.carousel-content p {
  margin: 12px 0 18px;
  font-size: 1.1rem;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  padding: 8px 14px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s ease-in;
  z-index: 3;
}

.carousel-btn:hover {
  background: rgba(143, 143, 143, 0.55);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 3;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 254, 254, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: var(--color-third);
  transform: scale(1.2);
}

@media (max-width: 900px) {
  .carousel-container {
    height: 400px;
  }
  .carousel-content {
    left: 10%;
    max-width: 320px;
  }
  .carousel-content h1 {
    font-size: 1.8rem;
  }
  .carousel-content p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .carousel-container {
    height: 320px;
    margin-top: 15px;
  }
  .carousel-content {
    left: 5%;
    right: 5%;
    max-width: 100%;
    text-align: center;
    top: 50%;
  }
  .carousel-content h1 {
    font-size: 1.5rem;
  }
  .carousel-content p {
    font-size: 0.9rem;
    margin: 8px 0 14px;
  }
  .carousel-btn {
    font-size: 1.5rem;
    padding: 5px 10px;
  }
  .carousel-slide::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 400px) {
  .carousel-container {
    height: 250px;
  }
  .carousel-dots {
    bottom: 8px;
  }
  .dot {
    width: 8px;
    height: 8px;
  }
}
